@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/gilroy/Gilroy-Thin.ttf');
  font-weight: 100; /* Thin */
  font-style: normal; 
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/gilroy/Gilroy-Regular.ttf');
  font-weight: 400; /* Regular */
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../assets/fonts/gilroy/Gilroy-Bold.ttf');
  font-weight: 700; /* Bold */
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik/static/Rubik-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
body {
  font-size: 16px;
  font-family: 'Gilroy','sans serif';
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}

/* Tablet-And-Mobile-BarDiv & ULDIV */
.navbar .bar-div,
.tablet-navbar-ul-div {
  display: none;
}

/* Variables */
:root {
  --black-color: hsl(0, 0%, 0%);
  --white-color: hsl(0, 0%, 100%);
  --grayish-blue: hsl(210, 20%, 96%);
  --red-color: hsla(0, 90%, 64%, 1);
  --mid-gray: hsl(0, 0%, 43%);
  --mint-green: hsl(135, 100%, 76%);
  --electric-indigo: hsl(244, 86%, 59%);
  --red-orange: hsl(0, 90%, 63%);
  --gunmetal-color: hsl(225, 31%, 13%);
}

/* Navbar-Div-Start */
.navbar {
  width: 100%;
  position: sticky;
  z-index: 9999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--grayish-blue);
}
.navbar .navbar-logo {
  font-size: 24px;
  font-family: 'Rubik','sans-serif';
  font-weight: 700;
  color: var(--black-color);
}
.navbar .navbar-logo span {
  text-transform: capitalize;
}
.navbar .navbar-ul {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 15px;
  font-weight: 700;
  width: 357px;
  height: 26px;
  justify-content: space-between;
}
.navbar .navbar-ul li a {
  color: var(--black-color);
}
.navbar .navbar-ul li * {
  text-transform: capitalize;
}
.navbar button {
  margin-inline-start: auto;
  width: 209px;
  height: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--electric-indigo);
}
.navbar button a {
  color: var(--white-color);
  font-weight: 700;
  font-size: 17px;
}
.navbar button span {
  text-transform: capitalize;
}
/* Navbar-Div-End */

.container {
  display: flex;
  margin: auto;
}
.home,
.demos,
.pages,
.caseStudy,
.support,
.contact {
  width: 100%;
  padding-inline: 150px;
  scroll-margin-top: 80px;
}

/* Home-Div-Start */
.home {
  height: 100vh;
  padding-top: 100px;
  background-color: var(--grayish-blue);
  display: flex;
}
.home .container {
  height: 100%;
  flex-direction: row;
  align-items: center;
}
.home span {
  text-transform: capitalize;
}
.home .leftDiv .para1 {
  color: var(--red-color);
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.home .leftDiv h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 65px;
  letter-spacing: -2px;
  padding-block: 25px;
  color: var(--gunmetal-color);
}
.home .leftDiv .para2 {
  padding-right: 41px;
  padding-bottom: 35px;
  font-size: 19px;
  color: var(--gunmetal-color);
}
.home .leftDiv button {
  margin-right: 321px;
  width: 220px;
  height: 59px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--electric-indigo);
}
.home .leftDiv button a {
  color: var(--white-color);
  font-weight: 700;
  font-size: 17px;
}
.home .rightDiv .imgDiv svg {
  width: 80%;
  margin-left: 20%;
}
/* Home-Div-End */

/* Demos-Div-Start */
.demos {
  /* margin-block: 80px; */
  background-color: var(--white-color);
}
.demos .container {
  padding-block: 80px;
  justify-content: center;
}
.demos span {
  text-transform: capitalize;
}
.demos .header1 {
  text-align: center;
}
.demos .header1 h2 {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--red-color);
}
.demos .header1 h3 {
  padding-top: 5px;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  color: var(--gunmetal-color);
}
.demos .services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.demos .trackDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-block: 100px;
  text-align: center;
  position: relative;
}
.demos .trackDiv .graphic {
  background-color: var(--mint-green);
}
.demos .trackDiv .web {
  background-color: var(--electric-indigo);
}
.demos .trackDiv .content {
  background-color: var(--red-orange);
}
.demos .trackDiv .graphic,
.web,
.content {
  width: 32%;
  padding: 50px 10px 30px;
  border-radius: 10px;
  color: var(--white-color);
  z-index: 99;
}
.demos .trackDiv h4 {
  font-size: 20px;
  text-transform: capitalize;
  padding-block: 20px;
}
.demos .trackDiv .grpImg {
  position: absolute;
  right: 0;
  top: 450px;
}
.demos .linkDiv {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.demos .linkDiv a {
  padding-right: 10px;
  color: var(--white-color);
}
.demos .txtDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-inline: 100px;
}
.demos .txtDiv .imgDiv {
  width: 20%;
}
.demos .txtDiv .imgDiv svg {
  width: 80%;
}
.demos .txtDiv .rightDiv {
  width: 80%;
  padding-block: 20px;
  padding-right: 80px;
}
.demos .txt {
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
  color: var(--gunmetal-color);
}
.demos .txt p {
  font-weight: 700;
}
.demos .txt .para1 {
  padding-block: 20px;
}
.demos .txt .para1 span {
  text-transform: uppercase;
}
.demos .txt .para2 {
  font-size: 15px;
  text-transform: capitalize;
}
.demos .txt .para2 span {
  color: var(--mid-gray);
}
.demos .story {
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.demos .header2 h2 {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--red-color);
}
.demos .header2 h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  padding-top: 10px;
  max-width: 400px;
  color: var(--gunmetal-color);
}
.demos .story .imgDiv {
  width: 100%;
  display: flex;
}
.demos .story .svg0 {
  width: 950px;
  padding-top: 80px;
}
.demos .story .rightDiv {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
}
.demos .story .rightDiv .imgDiv {
  display: flex;
  flex-direction: row;
  position: relative;
}
.demos .story .svg1 {
  width: 280px;
}
.demos .story .svg2 {
  width: 150px;
  position: absolute;
  left: 205px;
  top: -20px;
}
.demos .story .svg3 {
  position: absolute;
  right: 0;
  top: 100px;
}
.demos .story .rightDiv p {
  font-size: 17px;
  line-height: 29px;
  padding-top: 40px;
  padding-right: 140px;
  color: var(--gunmetal-color);
}
.demos .story .rightDiv p span {
  text-transform: capitalize;
}
.demos .numeric-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 80px;
}
.demos .numeric-div div {
  width: 32%;
  text-align: center;
}
.demos .numeric-div h4 {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  color: var(--gunmetal-color);
}
.demos .numeric-div p {
  padding-top: 10px;
  font-size: 19px;
  line-height: 32px;
  color: var(--gunmetal-color);
}
/* Demos-Div-End */

/* Pages-Div-Start */
.pages {
  margin-block: 50px;
  background-color: var(--grayish-blue);
  position: relative;
  display: flex;
}
.pages .container {
  padding-block: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pages span {
  text-transform: capitalize;
}
.pages .header {
  text-align: center;
}
.pages .header h2 {
  font-size: 28px;
  padding-top: 20px;
  text-transform: uppercase;
  color: var(--red-color);
}
.pages .header h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  padding-top: 10px;
  padding-inline: 320px;
  color: var(--gunmetal-color);
}
.pages .svg1 {
  position: absolute;
  left: 40px;
  top: 180px;
}
.pages .midDiv {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pages .mainDiv {
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-block: 10px;
}
.pages .txtDiv {
  display: flex;
  flex-direction: column;
  padding-inline: 30px;
}
.pages .txtDiv h4 {
  font-size: 21px;
  font-weight: 700;
  color: var(--gunmetal-color);
  padding-bottom: 10px;
}
.pages .txtDiv p {
  font-size: 17px;
  line-height: 29px;
  color: var(--gunmetal-color);
}
.pages .botDiv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.pages .botDiv h5 {
  font-size: 32px;
  font-weight: 700;
  color: var(--gunmetal-color);
}
.pages .botDiv p {
  font-size: 19px;
  line-height: 32px;
  padding-top: 20px;
  color: var(--gunmetal-color);
  width: 500px;
}
.pages button {
  font-size: 16px;
  padding: 10px 15px;
  margin-block: 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--electric-indigo);
}
.pages button a {
  color: var(--white-color);
}
/* Pages-Div-End */

/* CaseStudies-Div-Start */
.caseStudy {
  margin-block: 50px;
  display: flex;
  background-color: var(--white-color);
}
.caseStudy .container {
  padding-block: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caseStudy span {
  text-transform: capitalize;
}
.caseStudy .header {
  text-align: center;
}
.caseStudy .header h2 {
  font-size: 13px;
  font-weight: 700;
  padding-top: 20px;
  text-transform: uppercase;
  color: var(--red-color);
}
.caseStudy .header h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  color: var(--gunmetal-color);
  padding-top: 10px;
  padding-inline: 330px;
}
.caseStudy .imgDiv {
  width: 100%;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.caseStudy .mainDiv {
  width: 48%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-transform: capitalize;
}
.caseStudy .mainDiv h4 {
  font-size: 15px;
  padding-top: 20px;
  padding-left: 20px;
  color: var(--mid-gray);
}
.caseStudy .mainDiv p {
  padding-left: 20px;
  padding-top: 5px;
  font-size: 24px;
  font-weight: 700;
  color: var(--gunmetal-color);
}
.caseStudy .mainDiv p span {
  text-transform: uppercase;
}
.caseStudy .div4 {
  margin-top: -180px;
}
.caseStudy .linkDiv {
  padding-top: 30px;
  display: flex;
  align-items: center;
  color: var(--white-color);
}
.caseStudy .linkDiv a {
  color: var(--electric-indigo);
  padding-right: 10px;
  font-weight: 700;
}
/* CaseStudies-Div-End */

/* Support-Div-Start */
.support {
  display: flex;
  text-align: center;
  padding-block: 80px;
  background-color: var(--electric-indigo);
}
.support .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.support span {
  text-transform: capitalize;
}
.support h2 {
  font-size: 13px;
  font-weight: 700;
  color: var(--mint-green);
  text-transform: uppercase;
}
.support p {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  padding-top: 15px;
  padding-inline: 300px;
  color: var(--white-color);
}
.support .imgDiv {
  padding-top: 30px;
  text-transform: capitalize;
  color: var(--white-color);
}
.support .imgDiv h3 {
  font-size: 17px;
  font-weight: 700;
}
.support .imgDiv span {
  font-size: 15px;
}
/* Support-Div-End */

/* Contact-Div-Start */
.contact {
  display: flex;
  padding-top: 80px;
  background-color: var(--gunmetal-color);
}
.contact .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact span {
  text-transform: capitalize;
}
.contact .topDiv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.contact .topDiv h5 {
  color: var(--white-color);
  font-size: 32px;
  font-weight: 700;
}
.contact .topDiv p {
  padding-top: 10px;
  width: 500px;
  font-size: 19px;
  line-height: 32px;
  color: var(--mid-gray);
}
.contact button {
  font-size: 16px;
  padding: 10px 15px;
  margin-block: 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--electric-indigo);
}
.contact button a {
  color: var(--white-color);
}
.contact footer {
  width: 100%;
  padding-block: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact .ul1 {
  width: 28%;
}
footer .footer-logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--white-color);
}
footer ul li {
  padding-block: 5px;
}
.contact .ul1 p {
  padding-top: 30px;
  padding-bottom: 60px;
  color: var(--mid-gray);
}
.contact .ul1 .social {
  padding-top: 15px;
  display: flex;
}
.contact .ul1 .social svg {
  margin-right: 20px;
}
.contact .ul2,
.ul3,
.ul4,
.ul5 {
  text-transform: capitalize;
}
.contact ul .header {
  padding-bottom: 25px;
  color: var(--mid-gray);
}
.contact ul li a {
  color: var(--white-color);
}
/* Contact-Div-End */

/*******************************************/

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1399.98px) {
  /* Navbar-Div-Start */
  .navbar {
    padding: 22px 248px 22px 163px;
  }
  .navbar .navbar-logo {
    padding: 10px 0 12px 30px;
  }
  .navbar .navbar-logo a {
    width: 153px;
    height: 28px;
  }
  .navbar .navbar-ul {
    margin-left: 67px;
    padding-top: 11px;
    padding-bottom: 13px;
  }
  .navbar button {
    margin-left: 373px;
  }
  /* Navbar-Div-End */

  /* Home-Div-Start */
  .home {
    padding: 0;
  }
  .home .container {
    margin-top: 50px;
  }
  .home .leftDiv {
    width: 593px;
    height: 386px;
    margin: 208px 77px 208px 226px;
  }
  .home .rightDiv {
    width: 454px;
    height: 478px;
    margin: 153px 250px 175px 0;
  }
  /* Home-Div-End */

  /* Demos-Div-Start */
  .demos {
    padding: 0;
  }
  .demos .container {
    padding: 121px 210px 95px 233px;
  }
  .demos .trackDiv {
    width: 1157.86px;
    padding-top: 0;
    padding-bottom: 147px;
    justify-content: flex-start;
  }
  .demos .trackDiv .graphic, .web, .content {
    width: 350px;
    height: 483px;
  }
  .demos .trackDiv .web {
    margin-left: 28px;
    margin-right: 32px;
  }
  .demos .header1 h2 {
    font-size: 13px;
    font-weight: 700;
  }
  .demos .header1 {
    padding-inline: 260px;
    padding-bottom: 104px;
  }
  .demos .trackDiv h4 {
    font-size: 24px;
    font-weight: 700;
    padding-top: 41px;
    padding-bottom: 15px;
  }
  .demos .trackDiv p {
    font-size: 17px;
    line-height: 29px;
    padding-inline: 28px;
    padding-bottom: 43px;
  }
  .demos .txtDiv {
    padding-inline: 0;
  }
  .demos .txtDiv .imgDiv {
    margin-left: 85px;
    margin-right: 81px;
    width: 164px;
    height: 164px;
  }
  .demos .txtDiv .imgDiv svg {
    width: 100%;
  }
  .demos .txtDiv .rightDiv {
    padding-block: 0;
  }
  .demos .startsDiv {
    width: 123px;
    height: 19px;
  }
  .demos .startsDiv svg {
    width: 20px;
    height: 19px;
  } 
  .demos .txt {
    padding-top: 37px;
    padding-bottom: 15px;
    width: 735px;
  }
  .demos .story {
    margin-top: 127.5px;
    padding-block: 0;
  }
  .demos .header2 {
    width: 515px;
    height: 198px;
  }
  .demos .header2 h3 {
    padding-top: 40px;
    max-width: 515px;
  }
  .demos .story .svg0 {
    margin-top: 120px;
  }
  .demos .story .rightDiv {
    padding-left: 95px;
    margin-top: 53px;
  }
  .demos .story .svg3 {
    top: 166px;
  }
  .demos .story .rightDiv p {
    width: 490px;
    padding-right: 78px;
    padding-top: 100px;
    padding-left: 2px;
  }
  .demos .numeric-div {
    padding-top: 122px;
    width: 1074px;
    height: 140px;
    justify-content: flex-start;
  }
  .demos .numeric-div div {
    width: 314px;
    height: 140px;
  }
  .demos .numeric-div p {
    padding-top: 18px;
  }
  .demos .numeric-div .midDiv {
    margin-left: 74px;
    margin-right: 58px;
  }
  /* Demos-Div-End */

  /* Pages-Div-Start */
  .pages {
    padding: 0;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .pages .container {
    margin: 0;
    padding-top: 200px;
    padding-bottom: 0;
  }
  .pages .header {
    width: 589px;
    height: 135px;
    margin-left: 598px;
    margin-right: 413px;
  }
  .pages .header h2 {
    font-size: 13px;
    font-weight: 700;
    padding-top: 0;
    padding-bottom: 23px;
  }
  .pages .header h3 {
    padding: 0;
  }
  .pages .svg1 {
    left: 58px;
    top: 250px;
  }
  .pages .midDiv {
    padding-top: 98px;
    margin-left: 448px;
    margin-right: 284px;
    width: 868px;
  }
  .pages .mainDiv {
    width: 409px;
    height: auto;
    align-items: flex-start;
  }
  .pages .mainDiv1, .mainDiv2 {
    margin-bottom: 80px;
  }
  .pages .txtDiv {
    width: 330px;
    padding-left: 30px;
    padding-right: 0;
  }
  .pages .botDiv {
    padding-top: 0;
    width: 1110px;
    height: 128px;
    margin: 200px 153px 10px 337px;
  }
  .pages .botDiv p {
    padding-top: 20px;
  }
  .pages button {
    width: 209px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  /* Pages-Div-End */

  /* CaseStudies-Div-Start */
  .caseStudy {
    margin: 0;
    padding: 0;
  }
  .caseStudy .container {
    padding-top: 200px;
    padding-bottom: 0;
  }
  .caseStudy .header {
    width: 589px;
    margin-left: 491px;
    margin-right: 520px;
  }
  .caseStudy .header h2 {
    padding-top: 0;
  }
  .caseStudy .header h3 {
    padding-top: 23px;
    padding-inline: 0;
  }
  .caseStudy .imgDiv {
    padding-top: 90px;
    margin-left: 250px;
    margin-right: 280px;
    width: 1070px;
  }
  .caseStudy .mainDiv {
    padding: 0;
    margin: 0;
    width: 500px;
    height: fit-content;
  }
  .caseStudy .mainDiv1, .caseStudy .mainDiv2 {
    margin-bottom: 60px;
  }
  .caseStudy .div4 {
    margin-top: -180px;
  }
  .caseStudy .linkDiv {
    padding-top: 95px;
    padding-bottom: 114px;
  }
  /* CaseStudies-Div-End */

  /* Support-Div-Start */
  .support {
    padding-block: 134px;
    padding-inline: 473px;
  }
  .support .container {
    width: 655px;
  }
  .support p {
    padding-top: 35px;
    padding-inline: 10px;
  }
  .support .imgDiv {
    padding-top: 43px;
  }
  .support .imgDiv h3 {
    padding-top: 17px;
    padding-bottom: 7px;
  }
  /* Support-Div-End */ 

  /* Contact-Div-Start */
  .contact {
    padding-top: 0;
    padding-left: 246px;
    padding-right: 244px;
  }
  .contact .topDiv {
    margin-top: 34px;
    padding-top: 0;
    width: 1110px;
  }
  .contact .topDiv div {
    width: 589px;
  }
  .contact .topDiv p {
    padding-top: 20px;
  }
  .contact button {
    width: 209px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  /* Contact-Div-End */

  /* Footer-Div-Start */
  .contact footer {
    padding-block: 122px;
  }
  .contact .ul1 {
    width: 274px;
  }
  .contact .ul2 {
    width: 144px;
  }
  .contact .ul3 {
    width: 125px;
  }
  .contact .ul4 {
    width: 156px;
  }
  .contact .ul5 {
    width: 166px;
  }
  /* Footer-Div-End */

}

/********************************************/

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1199.98px) and (max-width: 1399.97px) {
  .navbar {
    padding: 22px 100px;
  }
  .navbar .navbar-ul {
    margin-left: 67px;
  }

  .navbar, .home, .demos, .pages, 
  .caseStudy, .support, .contact {
    padding-inline: 100px;
  }
  .demos .header1 h3,
  .pages .header h3,
  .caseStudy .header h3 {
    padding-inline: 250px;
  }
  .demos .header2 h3 {
    max-width: 600px;
  }
  .demos .txtDiv {
    padding-inline: 25px;
  }
  .pages .mainDiv {
    justify-content: center;
    text-align: center;
  }
  .pages .mainDiv .txtDiv {
    padding-block: 20px;
  }
  .support p {
    padding-inline: 200px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 991.98px) and (max-width: 1199.97px) {
  .navbar {
    padding: 22px 100px;
  }
  .navbar .navbar-ul {
    margin-left: 67px;
  }
  .navbar, .home, .demos, .pages, 
  .caseStudy, .support, .contact {
    padding-inline: 50px;
  }
  .demos .header1 h3,
  .pages .header h3,
  .caseStudy .header h3 {
    padding-inline: 150px;
  }
  .home .leftDiv {
    width: 450px;
  }
  .home .rightDiv {
    width: 350px;
    margin-left: 50px;
  }
  .home .rightDiv .imgDiv img {
    width: 100%;
  }
  .demos .txtDiv {
    padding-inline: 25px;
  }
  .demos .header2 h3 {
    max-width: 600px;
  }
  .demos .story .svg1 {
    width: 250px;
  }
  .demos .story .svg2 {
    left: 175px;
    top: -40px;
  }
  .demos .story .rightDiv p {
    padding-right: 10px;
  } 
  .contact .ul1 {
    width: 25%;
  }
  .pages .mainDiv {
    justify-content: center;
    text-align: center;
  }
  .pages .mainDiv .txtDiv {
    padding-block: 20px;
  }
  .caseStudy .mainDiv {
    width: 430px;
  }
  .caseStudy .mainDiv img {
    width: 100%;
  }
  .support p {
    padding-inline: 100px;
  }
  
}

/* Common-Properties */
@media (max-width: 991.97px) {
  .navbar .navbar-ul,
  .navbar button {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .bar-div {
    display: block;
    cursor: pointer;
  }
  .tablet-navbar-ul-div {
    display: block;
    max-height: 0;
    overflow: hidden;
    position: fixed;
    padding-block: 0;
    z-index: 99;
    top: 80px;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: var(--black-color);
    border-top: 1px solid var(--transparentWhite-color);
    transition: padding-block 0.5s ease, max-height 0.5s ease;
  }
  .tablet-navbar-ul-div li {
    padding-block: 15px;
  }
  .tablet-navbar-ul-div li * {
    text-transform: capitalize;
  }
  .tablet-navbar-ul-div li a {
    color: var(--white-color);
  }
  .tablet-navbar-ul-div button {
    margin-inline-start: auto;
    padding: 10px 15px;
    border-radius: 10px;
    margin-block: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--electric-indigo);
  }
  .tablet-navbar-ul-div button a {
    color: var(--white-color);
    font-weight: 500;
    font-size: 16px;
  }
  .tablet-navbar-ul-div button span {
    text-transform: capitalize;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 767.98px) and (max-width: 991.97px) {
  .navbar {
    padding-top: 20px;
  }
  .navbar, .home, .demos, .pages,
  .caseStudy, .support, .contact {
    padding-inline: 30px;
  }
  .home .leftDiv, .home .rightDiv {
    width: 300px;
  }
  .home .rightDiv img {
    width: 100%;
  }
  .home .leftDiv h1 {
    font-size: 33px;
    line-height: 110%;
  }
  .demos .header1 h2,
  .demos .header2 h2,
  .pages .header h2,
  .caseStudy .header h2 {
    font-size: 25px;
  }
  .demos .header1 h3,
  .demos .header2 h3,
  .pages .header h3,
  .caseStudy .header h3 {
    font-size: 23px;
    line-height: 110%;
  }
  .demos .header1 h3,
  .pages .header h3,
  .caseStudy .header h3 {
    padding-inline: 150px;
  }
  .demos .txtDiv {
    padding-inline: 20px;
  }
  .demos .story .svg0 {
    width: 250px;
  }
  .demos .story .svg1 {
    width: 180px;
  }
  .demos .story .svg2 {
    width: 80px;
    position: absolute;
    left: 149px;
    top: -40px;
  }
  .demos .story .svg3 {
    position: absolute;
    right: 50px;
    top: 100px;
    width: 100px;
  }
  .demos .story .rightDiv p {
    padding-right: 0;
  }
  .pages .mainDiv {
    text-align: center;
    padding-block: 20px;
    justify-content: center;
  }
  .pages .mainDiv .txtDiv {
    padding-block: 20px;
  }
  .pages .mainDiv svg {
    width: 350px;
  }
  .pages .txtDiv h4 {
    font-size: 16px;
  }
  .pages .botDiv p {
    width: 450px;
  }
  .pages .svg1 {
    left: 20px;
    top: 170px;
  }
  .caseStudy .mainDiv {
    width: 350px;
  }
  .caseStudy .mainDiv img {
    width: 100%;
  }
  .caseStudy .div4 {
    margin-top: -120px;
  }
  .support p {
    padding-inline: 100px;
  }
  .contact .ul1 {
    width: 26%;
  }
  .contact .topDiv p {
    width: 450px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 575.98px) and (max-width: 767.97px) {
  .navbar {
    padding-top: 20px;
  }
  .navbar, .home, .demos, .pages,
  .caseStudy, .support, .contact {
    padding-inline: 20px;
  }
  .home .leftDiv, .home .rightDiv {
    width: 250px;
  }
  .home .rightDiv img {
    width: 100%;
  }
  .home .leftDiv h1 {
    font-size: 30px;
    line-height: 110%;
  }
  .demos .header1 h2,
  .demos .header2 h2,
  .pages .header h2,
  .caseStudy .header h2 {
    font-size: 22px;
  }
  .demos .header1 h3,
  .demos .header2 h3,
  .pages .header h3,
  .caseStudy .header h3 {
    font-size: 20px;
    line-height: 110%;
  }
  .demos .header1 h3,
  .pages .header h3,
  .caseStudy .header h3 {
    padding-inline: 100px;
  }
  .demos .trackDiv .graphic,
  .web,
  .content {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    padding-inline: 40px;
  }
  .demos .header2 h3 {
    padding-bottom: 20px;
  }
  .demos .txtDiv {
    padding-inline: 20px;
    text-align: center;
  }
  .demos .story .svg0 {
    width: 200px;
  }
  .demos .story .svg1 {
    width: 180px;
    top: 50px;
  }
  .demos .story .svg2 {
    width: 60px;
    position: absolute;
    left: 150px;
    top: -40px;
  }
  .demos .story .svg3 {
    position: absolute;
    right: 20px;
    top: 50px;
    width: 80px;
  }
  .demos .story .rightDiv {
    padding-left: 30px;
  }
  .demos .story .rightDiv p {
    padding-right: 10px;
  }
  .demos .trackDiv .grpImg {
    top: 1250px;
  }
  .pages .mainDiv {
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-block: 20px;
  }
  .pages .mainDiv .txtDiv {
    padding-block: 20px;
  }
  .pages .mainDiv svg {
    width: 350px;
  }
  .pages .txtDiv h4 {
    font-size: 16px;
  }
  .pages .botDiv p {
    width: 450px;
  }
  .pages .svg1 {
    left: 10px;
    top: 150px;
    width: 80px;
  }
  .pages .botDiv {
    width: 80%;
    text-align: center;
    justify-content: center;
  }
  .caseStudy .mainDiv {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .caseStudy .mainDiv img {
    width: 100%;
  }
  .support p {
    padding-inline: 30px;
  }
  .contact .topDiv {
    width: 80%;
    text-align: center;
    justify-content: center;
    margin: auto;
  }
  footer ul,
  .contact .ul1 {
    width: 50%;
    padding-bottom: 40px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  footer .ul5 {
    padding-bottom: 0;
  }
}

/* Too Small SCreen*/
@media (max-width: 575.97px) {
  .navbar {
    padding-top: 20px;
  }
  .navbar, .home, .demos, .pages,
  .caseStudy, .support, .contact {
    padding-inline: 10px;
  }
  .navbar .navbar-logo {
    font-size: 18px;
  }
  .home {
    height: auto;
  }
  .home .container {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  .home .leftDiv, .home .rightDiv {
    width: fit-content;
    max-width: 500px;
    margin-bottom: 20px;
  }
  .home .leftDiv .para1 {
    font-size: 15px;
  }
  .home .leftDiv h1 {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 110%;
  }
  .home .leftDiv .para2 {
    font-size: 15px;
    padding-inline: 0;
  }
  .home .leftDiv button {
    margin: 0;
  }
  .home .leftDiv button a {
    font-size: 12px;
  }
  .home .rightDiv .imgDiv img {
    width: 100%;
  }
  .demos .header1 h2,
  .demos .header2 h2,
  .pages .header h2,
  .caseStudy .header h2 {
    font-size: 18px;
  }
  .demos .header1 h3,
  .demos .header2 h3,
  .pages .header h3,
  .caseStudy .header h3 {
    font-size: 16px;
    line-height: 110%;
  }
  .demos .header1 h3,
  .pages .header h3,
  .caseStudy .header h3 {
    padding-inline: 20px;
  }
  .demos .trackDiv .graphic,
  .web,
  .content {
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    padding-inline: 15px;
  }
  .demos .txtDiv {
    width: 100%;
    padding-inline: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .demos .txtDiv .imgDiv,
  .demos .txtDiv .rightDiv {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .demos .txtDiv .rightDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 0;
  }
  .demos .story {
    text-align: center;
  }
  .demos .story .imgDiv {
    width: 90%;
    flex-direction: column;
    margin: auto;
  }
  .demos .header2 h3 {
    padding-bottom: 50px;
    padding-inline: 0;
    max-width: 500px;
  }
  .demos .story .svg0 {
    width: 90%;
    margin-top: -120px;
  }
  .demos .story .svg1 {
    width: 90%;
    margin-top: -30px;
  }
  .demos .story .svg2 {
    width: 100px;
    position: absolute;
    left: 138px;
    top: -20px;
  }
  .demos .story .svg3 {
    position: absolute;
    right: 30px;
    top: 300px;
    width: 80%;
  }
  .demos .story .rightDiv {
    padding-left: 0;
    width: 100%;
  }
  .demos .story .rightDiv p {
    padding-right: 0;
    margin-top: 180px;
  }
  .demos .numeric-div div {
    width: 90%;
    margin: auto;
    padding-block: 20px;
  }

  .pages {
    display: block;
  }
  .pages .mainDiv {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-block: 20px;
  }
  .pages .mainDiv svg {
    width: 150px;
    padding-bottom: 5px;
  }
  .pages .mainDiv .txtDiv {
    width: 100%;
  }
  .pages .txtDiv h4 {
    font-size: 16px;
  }
  .pages .svg1 {
    left: 10px;
    top: 120px;
    width: 30px;
  }
  .pages .botDiv {
    width: 95%;
    text-align: center;
    justify-content: center;
  }
  .caseStudy .mainDiv {
    width: 95%;
    margin: auto;
    text-align: center;
  }
  .caseStudy .mainDiv img {
    width: 100%;
  } 
  .caseStudy .mainDiv h4,
  .caseStudy .mainDiv p {
    padding-left: 0;
  }
  .pages .botDiv p {
    width: 100%;
  }
  .support p {
    padding-inline: 10px;
  }
  .contact .topDiv {
    width: 95%;
    text-align: center;
    justify-content: center;
    margin: auto;
  }
  .contact .topDiv p {
    width: 100%;
  }
  footer ul,
  .contact .ul1 {
    width: 95%;
    padding-bottom: 40px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  footer .ul5 {
    padding-bottom: 0;
  }
}

@media (min-width: 399.98px) and (max-width: 575.96px) {
  .demos .story .svg0 {
    width: 90%;
    margin-top: -120px;
  }
  .demos .story .svg1 {
    width: 90%;
    margin-top: 40px;
  }
  .demos .story .svg2 {
    width: 100px;
    position: absolute;
    left: 210px;
    top: 20px;
  }
  .demos .story .svg3 {
    position: absolute;
    right: 30px;
    top: 420px;
    width: 80%;
  }
  .demos .story .rightDiv p {
    margin-top: 240px;
  }
}

@media (max-width: 399.97px) {
  .demos .story .svg0 {
    width: 90%;
    margin-top: -120px;
  }
  .demos .story .svg1 {
    width: 90%;
    margin-top: -30px;
  }
  .demos .story .svg2 {
    width: 100px;
    position: absolute;
    left: 138px;
    top: -20px;
  }
  .demos .story .svg3 {
    position: absolute;
    right: 30px;
    top: 300px;
    width: 80%;
  }
  .demos .story .rightDiv p {
    margin-top: 180px;
  }
}
